.hbox {
    -fx-spacing: 10px;
}

.label {
    -fx-font-size: 20px;
}

.label-above-average {
    -fx-text-fill: #FF0000;
}

.label-below-average {
    -fx-text-fill: #00FF00;
}

.icon-button {
    -fx-padding: 5px;
}
